Can you please read the following file listing and select the subset of files in which are likely to containing information about which build dependencies the software system called [% systemName %] has.

The file listing:

< < <

[% fileListing %]

> > >
